<div class="back-branco p-5">

    <h3 class="m-5 back-branco red">Detalhes: <span>{{franquiaMostrar.nmFranquia}}</span></h3>

    <div class="back-branco consulta-container">
        <div class="back-branco">
            <p class="m-5 back-branco red">Estado: <span class="back-branco azul">{{franquiaMostrar.estado}}</span></p>
            <p class="m-5 back-branco red">Cidade: <span class="back-branco azul">{{franquiaMostrar.cidade}}</span></p>
            <p class="m-5 back-branco red">Conferencia: <span class="back-branco azul">{{franquiaMostrar.conferencia}}</span></p>
        </div>

        <div class="back-branco">
            <img src="{{franquiaMostrar.logo}}" alt="Logo da Franquia" class="back-branco img-consulta">
        </div>
    </div>

    <p class="center back-branco red">Descrição: <span class="back-branco azul">{{franquiaMostrar.descFranquia}}</span>
    </p>

    <div class="btn-container m-5">
        <div class="back-branco m-2">
            <a href="/franquias">
                <button class="btn btn-secondary">Voltar <i class="bi bi-arrow-return-left"></i></button>
            </a>
        </div>

        {{#if admin}}
        <div class="back-branco m-2">
            <a href="/franquias/editar/{{franquiaMostrar.id}}">
                <button class="btn btn-warning">Editar <i class="bi bi-pencil-square"></i></button>
            </a>
        </div>

        <div class="back-branco m-2">
            <a href="/franquias/deletar/{{franquiaMostrar.id}}">
                <button class="btn btn-danger">Deletar <i class="bi bi-trash3"></i></button>
            </a>
        </div>
        {{/if}}


    </div>

</div>