<div class="back-branco p-5">

    <h3 class="m-5 back-branco red">Detalhes: <span>{{jogador.nmJogador}}</span></h3>

    <div class="back-branco consulta-container">
        <div class="back-branco">
            <p class="m-5 back-branco red">Nome: <span class="back-branco azul">{{jogador.nmJogador}}</span></p>
            <p class="m-5 back-branco red">Posição: <span class="back-branco azul">{{jogador.posicao}}</span></p>
            <p class="m-5 back-branco red">Idade: <span class="back-branco azul">{{jogador.idade}}</span></p>
            <p class="m-5 back-branco red">Altura: <span class="back-branco azul">{{jogador.altura}} cm</span></p>
            <p class="m-5 back-branco red">Peso: <span class="back-branco azul">{{jogador.peso}} Kg</span></p>
            <p class="m-5 back-branco red">Faculdade: <span class="back-branco azul">{{jogador.faculdade}}</span></p>
        </div>

        <div class="back-branco">
            <img src="{{jogador.imgJog}}" alt="Imagem do Jogador" class="back-branco img-consulta">
        </div>

    </div>

    <p class="center back-branco red">Descrição: <span class="back-branco azul">{{jogador.descJog}}</span></p>

    <div class="btn-container m-5">
        <div class="back-branco m-2">
            <a href="/jogadores">
                <button class="btn btn-secondary">Voltar</button>
            </a>
        </div>

        {{#if admin}}
        <div class="back-branco m-2">
            <a href="/jogadores/editar/{{jogador.id}}">
                <button class="btn btn-warning">Editar</button>
            </a>
        </div>

        <div class="back-branco m-2">
            <a href="/jogadores/deletar/{{jogador.id}}">
                <button class="btn btn-danger">Deletar</button>
            </a>
        </div>
        {{/if}}


    </div>
</div>