<div class="back-branco p-5">

    <div class="card mb-5 mt-5 m-5">
        <div class="card-body card-externo">
            <h3 class="card-title m-2">FRANQUIAS</h3>
            <p class="card-text">
            <div class="row">
                {{#if franquias.length}}
                {{#each franquias}}
                <div class="col-sm-6 col-lg-4 mb-3 mb-sm-0">
                    <div class="card left">
                        <div class="card-body card-interno">

                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <img src="{{this.logo}}" alt="Foto do atleta" class="conteudo-card"
                                            id="imageFranquia">
                                    </div>
                                    <div class="col">
                                        <p class="conteudo-card">Nome: <span
                                                class="span-valor">{{this.nmFranquia}}</span>
                                        </p>
                                        <p class="conteudo-card">Conferência: <span
                                                class="span-valor">{{this.conferencia}}</span>
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <p class="card-text conteudo-card">
                                Descrição: <span class="span-valor">
                                    {{this.descFranquia}}
                                </span>
                            </p>

                            <div class="center back-branco">
                                <a href="/franquias/verdetalhes/{{this.id}}">
                                    <button class="btn btn-danger">Ver Detalhes</button>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
                {{/each}}
                {{else}}
                <h3 class="display-4 branco">Ainda não há franquias cadastradas</h3>
                {{/if}}
            </div>

            </p>

        </div>
    </div>
</div>