<div class="back-branco p-5">

    <h3 class="m-5 back-branco red">HISTÓRICO DE SIMULAÇÕES </h3>

    {{#if simulacao.length}}
    <table class="table table-hover table-bordered back-branco table-sim mt-5 mb-5">
        <thead>
            <tr class="table-primary">
                <th scope="col">Nome da Simulação</th>
                <th scope="col">Rodadas</th>
                <th scope="col">Numero de jogadores escolhidos</th>
            </tr>
        </thead>
        {{#each simulacao}}
        <tbody>
            <tr class="back-branco">
                <td><a href="/historico/simulacao/{{this.idSimulacao}}"
                        class="back-branco link-sim">{{this.nmSimulacao}}</a></td>
                <td>{{this.rodadas}}</td>
                <td>{{this.numJogs}}</td>
            </tr>
        </tbody>
        {{/each}}
    </table>
    {{else}}
    <h4 class="display-4 red">Ainda não foram feitas simulações.</h4>
    {{/if}}
</div>