<div class="back-branco p-5">

    <h3 class="m-5 back-branco red">{{nmSimulacao}}</h3>

    <table class="table table-hover table-bordered mt-5 mb-5 consulta-sim">
        {{#each escolhas}}
        <thead>
            <tr>
                <th colspan="4" id="mark-rodadas">Rodada: {{this.rodada}}</th>
            </tr>

            <tr class="table-primary">
                <th scope="col">Escolha</th>
                <th scope="col">Franquia</th>
                <th scope="col">Jogador</th>
                <th scope="col">Posição</th>
            </tr>
        </thead>
        <tbody>
            {{#each this.escolha}}
            <tr class="back-branco">
                <td>{{this.pick}}</td>
                <td>{{this.nmFranquia}}</td>
                <td>{{this.nmJogador}}</td>
                <td>{{this.posicao}}</td>
            </tr>
            {{/each}}
        </tbody>
        {{/each}}
    </table>

    <a href="/historico/{{idFranquia}}" class="back-branco">
        <button class="btn btn-secondary">Voltar <i class="bi bi-arrow-return-left"></i></button>
    </a>

    
</div>