<h3 class="m-5 back-branco red">{{nmSimulacao}}</h3>

<table class="table table-hover table-bordered mt-5 mb-5 consulta-sim">
    <thead>
        <tr class="center back-red branco">
            <th colspan="4">{{rodada}}</th>
        </tr>

        <tr class="table-primary">
            <th scope="col">Escolha</th>
            <th scope="col">Franquia</th>
            <th scope="col">Jogador</th>
            <th scope="col">Posição</th>
        </tr>
    </thead>
    <tbody>
        <tr class="back-branco">
            <td>{{pick}}</td>
            <td>{{nmFranquia}}</td>
            <td>{{nmJogador}}</td>
            <td>{{posicao}}</td>
        </tr>
    </tbody>
</table>